# This is Git's per-user configuration file.
[user]
  name = julibnk
  email = fernandezfernandezjulian@gmail.com

[init]
  defaultBranch = main

[delta]
  navigate = true
  line-numbers = true
  side-by-side = true

[delta "interactive"]
    keep-plus-minus-markers = true

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[core]
  pager = delta
  editor = nvim

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
