# This is Git's per-user configuration file.
[user]
  name = julibnk
  email = fernandezfernandezjulian@gmail.com

[init]
  defaultBranch = main

[core]
  pager = "delta"
  editor = nvim

[merge]
  conflictstyle = zdiff3
  tool = nvim

; [mergetool "nvim"]
;   cmd = nvim -c "DiffviewOpen"
;
; [mergetool]
;   prompt = false

[interactive]
  diffFilter = delta --color-only --features=interactive

[diff]
  colorMoved = default

[branch]
    sort = -committerdate

[pull]
	rebase = true

; [column]
;     ui = auto

# DELTA
[delta]
  pager = less
  navigate = true
  hyperlinks = true
  line-numbers = true
  side-by-side = false
  dark = true
  wrap-max-lines = 0
  file-decoration-style = ul
  hunk-header-decoration-style = none
  hunk-header-style = file line-number syntax
  merge-conflict-begin-symbol = ⌃
  merge-conflict-end-symbol = ⌄
  merge-conflict-ours-diff-header-style = "#F0C269 bold"
  merge-conflict-ours-diff-header-decoration-style = "#F0C269 box"
  merge-conflict-theirs-diff-header-style = "#66BED9 bold"
  merge-conflict-theirs-diff-header-decoration-style = "#66BED9 box"

[delta "interactive"]
  keep-plus-minus-markers = true

[alias]
  conflicts = diff --name-only --diff-filter=U
  remerge = show --remerge-diff
  ds = diff --staged

