# This is Git's per-user configuration file.
[user]
  name = julibnk
  email = fernandezfernandezjulian@gmail.com

[init]
  defaultBranch = main

[core]
  pager = "diff-so-fancy | less --tabs=4 -RF"
  editor = nvim

[merge]
  conflictstyle = merge
  tool = nvim

[mergetool "nvim"]
  cmd = nvim -c "DiffviewOpen"

[mergetool]
  prompt = false

[interactive]
  diffFilter = "diff-so-fancy --patch"

[diff]
  colorMoved = default

[branch]
    sort = -committerdate

[column]
    ui = auto

# DELTA
[delta]
  navigate = true
  line-numbers = true
  side-by-side = false

[delta "interactive"]
    keep-plus-minus-markers = true

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[pull]
	rebase = true
